.App {
  text-align: center;
  font-family: cursive;
  background-color:#e7d734;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #e7d734;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  font-family: cursive;
}

.App-link {
  color: #5f17b1;
}

.navbar{
  background-color: #e7d734;
  text-align: left;
  font-family: cursive;
}

.Contact{
  background-color: #e7d734;
  color: #000000;
  font-family: cursive;
}

.Gallery{
  background-color: #e7d734;
  color:#5f17b1;
  border: 1px solid #5f17b1;
  margin:10px;
  padding:20px;
}